RealEstatePlat.Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 

  <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="state" type="xs:string" minOccurs="0"/>
            <xs:element name="postalCode" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="latitude" type="xs:decimal" minOccurs="0"/>
            <xs:element name="longitude" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UserType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="phoneNumber" type="xs:string"/>
            <xs:element name="address" type="AddressType"/>
            <xs:element name="role">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="buyer"/>
                        <xs:enumeration value="seller"/>
                        <xs:enumeration value="agent"/>
                        <xs:enumeration value="tenant"/>
                        <xs:enumeration value="owner"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="registrationDate" type="xs:date"/>
            <xs:element name="isActive" type="xs:boolean"/>
            <xs:element name="profilePicture" type="xs:string" minOccurs="0"/>
            <xs:element name="rating" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="User" type="UserType"/>

    <xs:element name="Users">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="User" type="UserType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="PropertyType">
        <xs:sequence>
            <xs:element name="propertyId" type="xs:int"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="address" type="AddressType"/>
            <xs:element name="price" type="xs:decimal"/>
            <xs:element name="area" type="xs:decimal"/>
            <xs:element name="numberOfRooms" type="xs:int"/>
            <xs:element name="propertyType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="apartment"/>
                        <xs:enumeration value="house"/>
                        <xs:enumeration value="villa"/>
                        <xs:enumeration value="commercial"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="listingDate" type="xs:date"/>
            <xs:element name="status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="available"/>
                        <xs:enumeration value="sold"/>
                        <xs:enumeration value="rented"/>
                        <xs:enumeration value="pending"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="features" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="feature" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="images" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="image" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ownerId" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Property" type="PropertyType"/>

    <xs:element name="Properties">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Property" type="PropertyType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="TransactionType">
        <xs:sequence>
            <xs:element name="transactionId" type="xs:int"/>
            <xs:element name="transactionType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="purchase"/>
                        <xs:enumeration value="rental"/>
                        <xs:enumeration value="sale"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="propertyId" type="xs:int"/>
            <xs:element name="buyerId" type="xs:int"/>
            <xs:element name="sellerId" type="xs:int"/>
            <xs:element name="agentId" type="xs:int" minOccurs="0"/>
            <xs:element name="transactionDate" type="xs:date"/>
            <xs:element name="amount" type="xs:decimal"/>
            <xs:element name="paymentMethod" type="xs:string" minOccurs="0"/>
            <xs:element name="status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="completed"/>
                        <xs:enumeration value="pending"/>
                        <xs:enumeration value="cancelled"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Transaction" type="TransactionType"/>

    <xs:element name="Transactions">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Transaction" type="TransactionType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AgencyType">
        <xs:sequence>
            <xs:element name="agencyId" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="address" type="AddressType"/>
            <xs:element name="phoneNumber" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="website" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Agency" type="AgencyType"/>

    <xs:element name="Agencies">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Agency" type="AgencyType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="ListingType">
        <xs:sequence>
            <xs:element name="listingId" type="xs:int"/>
            <xs:element name="propertyId" type="xs:int"/>
            <xs:element name="listedBy" type="xs:int"/>
            <xs:element name="listingDate" type="xs:date"/>
            <xs:element name="listingStatus">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="active"/>
                        <xs:enumeration value="expired"/>
                        <xs:enumeration value="removed"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Listing" type="ListingType"/>

    <xs:element name="Listings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Listing" type="ListingType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="ReviewType">
        <xs:sequence>
            <xs:element name="reviewId" type="xs:int"/>
            <xs:element name="userId" type="xs:int"/>
            <xs:element name="targetId" type="xs:int"/>
            <xs:element name="targetType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Property"/>
                        <xs:enumeration value="User"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="rating" type="xs:decimal"/>
            <xs:element name="comment" type="xs:string"/>
            <xs:element name="reviewDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Review" type="ReviewType"/>

    <xs:element name="Reviews">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Review" type="ReviewType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AppointmentType">
        <xs:sequence>
            <xs:element name="appointmentId" type="xs:int"/>
            <xs:element name="propertyId" type="xs:int"/>
            <xs:element name="userId" type="xs:int"/>
            <xs:element name="agentId" type="xs:int" minOccurs="0"/>
            <xs:element name="appointmentDateTime" type="xs:dateTime"/>
            <xs:element name="status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="confirmed"/>
                        <xs:enumeration value="cancelled"/>
                        <xs:enumeration value="pending"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Appointment" type="AppointmentType"/>

    <xs:element name="Appointments">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Appointment" type="AppointmentType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RealEstate">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Users" type="Users" minOccurs="0"/>
                <xs:element name="Properties" type="Properties" minOccurs="0"/>
                <xs:element name="Transactions" type="Transactions" minOccurs="0"/>
                <xs:element name="Agencies" type="Agencies" minOccurs="0"/>
                <xs:element name="Listings" type="Listings" minOccurs="0"/>
                <xs:element name="Reviews" type="Reviews" minOccurs="0"/>
                <xs:element name="Appointments" type="Appointments" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>